section.doc
    .doc__decore.doc__decore_dots_1
    .doc__decore.doc__decore_woo
    .container.doc__container
        .doc__item
            .doc__img.doc__img_1
            .doc__txt
                h3.doc__title Develop <br> Without Limits
                p.doc__parag WooCommerce is developer friendly, too. Built with a REST API, WooCommerce is scalable and can integrate with virtually any service. Design a complex store from scratch, extend a store for a client, or simply add a single product to a WordPress site—your store, your way.
                a.btn.btn_green.doc__btn(href="#") Read the Documentation
        .doc__item
            .doc__img.doc__img_2
            .doc__txt
                h3.doc__title Know our <br> Global Community
                p.doc__parag WooCommerce is one of the fastest-growing eCommerce communities. We’re proud that the helpfulness of the community and a wealth of online resources are frequently cited as reasons our users love it. There are 80+ meetups worldwide!
                a.btn.btn_green.doc__btn(href="#") Read the Documentation
    .doc__decore.doc__decore_dots_2
    .doc__decore.doc__decore_ell
