section.hero
    .container.hero__container
        svg.decore-w
            use(xlink:href='img/sprite.svg#decore-w')
        .hero__txt
            h1.hero__title Building exactly the eCommerce website you want.
            p.hero__parag WooCommerce is a customizable, open-source eCommerce platform built on WordPress. Get started quickly and make your way.
            .hero__links
                a.btn.hero__btn(href="#") Start a New Store
                .custom
                    span.custom__txt or
                    a.custom__link(href="#") Customize & Extend ›
        .hero__img