section.reviews
    .container.reviews__container
        .reviews__decore_ava_1.reviews__decore
        .reviews__decore_dots_1.reviews__decore
        .section-head.reviews__section-head
            h2.section-head__title Trusted by Agencies & Store Owners
        .reviews-slider.swiper-container
            .reviews-slider__wrapper.swiper-wrapper
                .reviews__slide-wrap.swiper-slide
                    .reviews__slide
                        .reviews__quotes
                        p.reviews__parag No other eCommerce platform allows people to start for free and grow their store as their business grows. More importantly, WooCommerce doesn't charge you a portion of your profits as your business grows!
                .reviews__slide-wrap.swiper-slide
                    .reviews__slide
                        .reviews__quotes
                        p.reviews__parag No other eCommerce platform allows people to start for free and grow their store as their business grows. More importantly, WooCommerce doesn't charge you a portion of your profits as your business grows!
                .reviews__slide-wrap.swiper-slide
                    .reviews__slide
                        .reviews__quotes
                        p.reviews__parag No other eCommerce platform allows people to start for free and grow their store as their business grows. More importantly, WooCommerce doesn't charge you a portion of your profits as your business grows!
        .slider-container
            .slider-buttons
                button.arrow-btn.arrow-btn__prev
                    svg.arrow-btn__svg
                        use(xlink:href='img/sprite.svg#arrow')
                button.arrow-btn.arrow-btn__next
                    svg.arrow-btn__svg
                        use(xlink:href='img/sprite.svg#arrow')
            
        .reviews__decore_ava_2.reviews__decore
        .reviews__decore_dots_2.reviews__decore