section.simple
    .container.simple__container
        .section-head.simple__section-head
            h2.section-head__title Your eCommerce made simple
        ul.simple__cards
            li.card.simple__card
                .card__img.card__img_1
                h3.card__title All You Need to Start
                p.card__parag Add WooCommerce plugin to any WordPress site and set up a new store in minutes.
                a.card__link(href="#") Ecommerce for Wordpress ›
            li.card.simple__card
                .card__img.card__img_2
                h3.card__title Customize and Extend
                p.card__parag From subscriptions to gym classes to luxury cars, WooCommerce is fully customizable.
                a.card__link(href="#") Ecommerce for Wordpress ›
            li.card.simple__card
                .card__img.card__img_3
                h3.card__title Active Community
                p.card__parag WooCommerce is one of the fastest-growing eCommerce communities. 
                a.card__link(href="#") Ecommerce for Wordpress ›
