section.support
    .container.support__container
        .section-head.support__section-head
            h2.section-head__title Supported by real people
            p.section-head__parag Our team of Happiness Engineers works remotely from 58 countries providing customer support across multiple time zones.
        .support__img
        .support__img.support__img_bg
    .support__start
        p.support__parag WooCommerce - the most customizable eCommerce platform for building your online business.
        a.support__btn Get starteds
        .support__decore_ellipse