footer.footer
    .footer__content
        .container.footer__container
            ul.advantages
                li.advantages__item
                    svg.advantages__svg
                        use(xlink:href='img/sprite.svg#footer__icon_1')
                    p.advantages__parag 30 day <strong>money back guarantee</strong>
                li.advantages__item
                    svg.advantages__svg
                        use(xlink:href='img/sprite.svg#footer__icon_2')
                    p.advantages__parag <strong>Support</strong> teams across the world
                li.advantages__item
                    svg.advantages__svg
                        use(xlink:href='img/sprite.svg#footer__icon_3')
                    p.advantages__parag <strong>Safe & Secure</strong> online payment
            a.footer__logo(href="#")
                svg.footer__logo-svg
                    use(xlink:href='img/sprite.svg#logo')
            .footer__line
            .footer__lists
                ul.footer__list
                    li.footer__item
                        |Who we are
                    li.footer__item
                        a.footer__link(href="#") About
                    li.footer__item
                        a.footer__link(href="#") Team
                    li.footer__item
                        a.footer__link(href="#") Work With Us

                ul.footer__list
                    li.footer__item
                        |Woocommerce
                    li.footer__item
                        a.footer__link(href="#") Features
                    li.footer__item
                        a.footer__link(href="#") Payments
                    li.footer__item
                        a.footer__link(href="#") Marketing
                    li.footer__item
                        a.footer__link(href="#") Shipping
                    li.footer__item
                        a.footer__link(href="#") Extension Store
                    li.footer__item
                        a.footer__link(href="#") eCommerce blog
                    li.footer__item
                        a.footer__link(href="#") Development blog
                    li.footer__item
                        a.footer__link(href="#") Ideas board
                    li.footer__item
                        a.footer__link(href="#") Mobile App
                    li.footer__item
                        a.footer__link(href="#") Community
                    li.footer__item
                        a.footer__link(href="#") Style Guide
                    li.footer__item
                        a.footer__link(href="#") Email Newsletter

                ul.footer__list
                    li.footer__item
                        |Other products
                    li.footer__item
                        a.footer__link(href="#") Storefront
                    li.footer__item
                        a.footer__link(href="#") WooSlider
                    li.footer__item
                        a.footer__link(href="#") Sensei
                    li.footer__item
                        a.footer__link(href="#") Sensei Extensions

                ul.footer__list
                    li.footer__item
                        |Support
                    li.footer__item
                        a.footer__link(href="#") Documentation
                    li.footer__item
                        a.footer__link(href="#") Customizations
                    li.footer__item
                        a.footer__link(href="#") Support Policy
                    li.footer__item
                        a.footer__link(href="#") Contact
                    li.footer__item
                        a.footer__link(href="#") COVID-19 Resources
                    li.footer__item
                        a.footer__link(href="#") Privacy Notice for
                    li.footer__item
                        a.footer__link(href="#") California Users

                ul.footer__list
                    li.footer__item
                        |We recommend
                    li.footer__item
                        a.footer__link(href="#") WooExperts
                    li.footer__item
                        a.footer__link(href="#") Hosting Solutions
                    li.footer__item
                        a.footer__link(href="#") Pre-sales FAQ
                    li.footer__item
                        a.footer__link(href="#") Success Stories
                    li.footer__item
                        a.footer__link(href="#") Design Feedback Group

    .copy.footer__copy
        .container.copy__container
            .social.copy__social
                a.social__link(href="#")
                    svg.social__svg
                        use(xlink:href='img/sprite.svg#tw')
                a.social__link(href="#")
                    svg.social__svg
                        use(xlink:href='img/sprite.svg#fb')
                a.social__link(href="#")
                    svg.social__svg
                        use(xlink:href='img/sprite.svg#wifi')
                a.social__link(href="#")
                    svg.social__svg
                        use(xlink:href='img/sprite.svg#inst')

            p.copy__parag Copyright woocommerce 2020 - terms & conditions privacy policy

            .copy__img

