header.header
    .container.header__container
        a.header__logo(href="#")
            svg.header__logo-svg
                use(xlink:href='img/sprite.svg#logo')
        nav.nav.header__nav
            ul.nav__list
                li.nav__item
                    a.nav__link(href="#") Sell
                li.nav__item
                    a.nav__link(href="#") Marketplace
                li.nav__item
                    a.nav__link(href="#") Community
                li.nav__item
                    a.nav__link(href="#") Develop
                li.nav__item
                    a.nav__link(href="#") Resources

        ul.actions.header__actions
            li.actions__item
                a.login(href="#") Log in
            li.actions__item
                a.start(href="#") Get Started
            li.actions__item
                a.header__search(href="#")
                    svg.header__search-svg
                        use(xlink:href='img/sprite.svg#search')

        .burger
            span.burger__line
            span.burger__line
            span.burger__line
            span.burger__line
            span.burger__line