.header {
    position: absolute;
    z-index: 3;
    padding: 37px 0;
    width: 100%;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        height: 31px;

        &-svg {
            --bgc-woo: #9b5c8f;
            --words-woo: #fff;
            --txt-commerce: #000;

            width: 169px;
            height: 34px;
        }
    }

    &__nav {
        margin-left: -31.5%;
    }

    &__search {
        transition: 0.2s;

        &-svg {
            --search-color: var(--title-color);

            width: 16px;
            height: 16px;
            transition: 0.2s;
        }

        &:hover {
            .header__search-svg {
                --search-color: var(--main-color);
            }
        }
    }

    @include media(1500) {
        &__nav {
            margin-left: 0;
        }
    }

    @include media(1100) {
        &__nav {
            display: none;
        }

        &__actions {
            display: none;
        }
    }
}

.nav {
    &__item {
        display: inline-block;

        &:not(:first-child) {
            margin-left: 38px;
        }
    }

    &__link {
        font-weight: 500;
        line-height: 21px;
        color: var(--title-color);
        transition: 0.4s;

        &:hover {
            color: var(--main-color);
        }
    }
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 254px;
}

.login {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--title-color);
    transition: 0.4s;

    &:hover {
        color: var(--main-color);
    }
}

.start {
    display: block;
    border: 2px solid transparent;
    border-radius: 5px;
    width: 120px;
    height: 47px;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
    color: #fff;
    background-color: var(--main-color);
    transition: 0.4s;

    &:hover {
        border-color: var(--main-color);
        color: var(--main-color);
        background-color: transparent;
    }
}
